header{
    width: 100%;
    padding: 45px 8%;
    position: sticky;
    top: 0;
    background-color: #0f0117;
    z-index: 3;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo{
   color: #A76CFF;
   text-shadow: 0 0 65px #A76CFF, 0 0 15px #4b1996, 0 0 10px #9770f1;
   font-family: 'Cinzel', serif;
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: rgb(236, 211, 255);
    font-weight: 450;
}

#mobile-btn{
    display: none;
}

#mobile-menu{
    display: none;
}

@media screen and (max-width:1170px){
    #nav-list,
    #navbar .btn-default{
        display: none;
    }
    

    #mobile-btn{
        display: block;
        border: none;
        background-color: transparent;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin: 12px 0px;
    }

    #mobile-nav-list .nav-item{
        list-style: none;
        text-align: center;
    }
}